name: CI

on:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl: ['5.30', '5.32', '5.34', '5.36', '5.38', '5.40', '5.42']

    name: Perl ${{ matrix.perl }} on Ubuntu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          enable-modules-cache: false   # можно true, если добавишь cpanfile

      - name: Install system dependencies (libjsonnet)
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            pkg-config \
            git
          
      # НЕ ставим libjsonnet-dev из apt (там 0.20.0)
      # - name: Install system dependencies (old jsonnet)
      #   run: sudo apt-get install -y jsonnet libjsonnet-dev

      - name: Build & install libjsonnet v0.21.0
        run: |
          JSONNET_TAG=v0.21.0
          git clone --depth 1 --branch "$JSONNET_TAG" https://github.com/google/jsonnet.git
          cd jsonnet
          make -j"$(nproc)"
          sudo make install
          # Чтобы рантайм точно увидел /usr/local/lib
          sudo ldconfig

      - name: Install configure deps
        run: |
          cpanm --notest Devel::CheckLib

      - name: Install Perl dependencies
        run: |
          cpanm --notest --installdeps .

      - name: Build
        run: |
          perl Makefile.PL
          make

      - name: Run tests
        run: |
          make test
