name: freebsd

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: A job to run test in FreeBSD
    env:
      MYTOKEN : ${{ secrets.MYTOKEN }}
      MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v4
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v1
      with:
        envs: 'MYTOKEN MYTOKEN2'
        usesh: true
        prepare: |

    - name: Perl version check
      run: |
        perl -V
      
    - name: Prepare cpan
      run: |
          pkg install -y perl5 p5-App-cpanminus curl ca_root_nss
          #cpanm --notest  ${{ vars.EXTRA_CPANM_MODULES }} ${{ vars.MACOS_EXTRA_CPANM_MODULES }}

    - name: Install configure deps
      run: |
          cpanm --notest Devel::CheckLib JSON::MaybeXS Test2::V0 Test::Pod Test::Pod::Coverage Test::CPAN::Meta
              
    - name: Install libjsonnet v0.21.0
      run: |
          pkg update
          pkg upgrade
          pkg install cmake 
          cmake --version
          pkg install jsonnet
          jsonnet --version
    - name: output makefile
      run: |
          #cat /tmp/jsonnet/build/Makefile
          cd /tmp/jsonnet/build
          make
          sudo make install
          ls -la .

    - name: Build
      run: |

          perl Makefile.PL
          make

    - name: Run tests
      run: |
          make test
