name: FreeBSD

# spell-checker:ignore sshfs usesh vmactions taiki Swatinem esac fdescfs fdesc sccache nextest copyback logind

env:
  # * style job configuration
  STYLE_FAIL_ON_FAULT: true ## (bool) fail the build if a style job contains a fault (error or warning); may be overridden on a per-job basis

on:
  pull_request:
  push:
    branches:
      - '*'

permissions:
  contents: read # to fetch code (actions/checkout)

# End the current execution if there is a new changeset in the PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  style:
    name: Style and Lint
    runs-on: ${{ matrix.job.os }}
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        job:
          - { os: ubuntu-24.04 , features: unix }
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: Swatinem/rust-cache@v2
    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.9
      with:
        disable_annotations: true
    - name: Prepare, build and test
      uses: vmactions/freebsd-vm@v1.2.9
      with:
        usesh: true
        sync: rsync
        copyback: false
        # We need jq and GNU coreutils to run show-utils.sh and bash to use inline shell string replacement
        prepare: pkg install -y curl sudo jq coreutils bash
        run: |
          pkg update
          
    - name: Perl version check
      run: |
        perl -V
        
    - name: Prepare cpan
      run: |
           pkg install -y perl5 p5-App-cpanminus curl ca_root_nss
           #cpanm --notest  ${{ vars.EXTRA_CPANM_MODULES }} ${{ vars.MACOS_EXTRA_CPANM_MODULES }}
  
    - name: Install configure deps
      run: |
          cpanm --notest Devel::CheckLib JSON::MaybeXS Test2::V0 Test::Pod Test::Pod::Coverage Test::CPAN::Meta
                
    - name: Install libjsonnet v0.21.0
      run: |
            pkg update
            pkg upgrade
            pkg install cmake 
            cmake --version
            pkg install jsonnet
            jsonnet --version
    - name: output makefile
      run: |
            #cat /tmp/jsonnet/build/Makefile
            cd /tmp/jsonnet/build
            make
            sudo make install
            ls -la .
  
    - name: Build
      run: |
  
            perl Makefile.PL
            make
  
    - name: Run tests
      run: |
            make test
