name: macos

on:
  push:
  pull_request:

jobs:
  macos:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        perl: ['5.30', '5.32', '5.34', '5.36', '5.38', '5.40', '5.42']

    name: Perl ${{ matrix.perl }} on MacOS

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Platform check
        run: |
          uname -a
      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          enable-modules-cache: false   # можно true, если добавишь cpanfile
      - name: Perl version check
        run: |
          perl -V
      
      - name: Prepare cpan
        run: |
          cpan -M https://www.cpan.org -T App::cpanminus
          cpanm --notest  ${{ vars.EXTRA_CPANM_MODULES }} ${{ vars.MACOS_EXTRA_CPANM_MODULES }}
      # НЕ ставим libjsonnet-dev из apt (там 0.20.0)
      # - name: Install system dependencies (old jsonnet)
      #   run: sudo apt-get install -y jsonnet libjsonnet-dev
      - name: Install configure deps
        run: |
          cpanm --notest \
              Devel::CheckLib \
              JSON::MaybeXS \
              Test2::V0 \
              Test::Pod \
              Test::Pod::Coverage \
              Test::CPAN::Meta
              
      - name: Install libjsonnet v0.21.0
        run: |
          brew update
          brew update-reset
          brew cleanup
          brew upgrade cmake
          cmake --version
          set -e
          JSONNET_TAG=v0.21.0
          cd /tmp
          git clone --depth 1 --branch "$JSONNET_TAG" https://github.com/google/jsonnet.git
          cd jsonnet
          ls -la /tmp/jsonnet/
          brew install gnu-sed
          gsed -i 's/cmake_minimum_required(VERSION 2\.8\.7\.\.\.4\.0)/cmake_minimum_required(VERSION 3\.5)/' CMakeLists.txt
          gsed -i 's/cmake_minimum_required(VERSION 2\.8\.7\.\.\.4\.0)/cmake_minimum_required(VERSION 3\.5)/' CMakeLists.txt.in
          head -n2 CMakeLists.txt
          mkdir build
          cd build
          cmake  ..
          ls -la /tmp/jsonnet/build/

      #- name: Build
      #  run: |
       #   perl Makefile.PL
       #   make

      #- name: Run tests
      #  run: |
       #   make test
