name: windows

on:
  push:
  pull_request:

jobs:
    perl:
      environment: automated_testing
      runs-on: windows-latest
      strategy:
        matrix:
          perl: ['5.30', '5.32', '5.34','5.36', '5.38', '5.40', '5.42']
      steps:
        - uses: msys2/setup-msys2@v2
          with:
            msystem: MINGW64
        - run: |
            set MSYSTEM=MINGW64
            msys2 -c 'pacman -S mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake mingw-w64-clang-x86_64-clang --noconfirm'
        - run: git config --global core.autocrlf false
        - uses: actions/checkout@v4

        - name: git corrections
          run: |
            git config --global --add safe.directory "${{ github.workspace }}"  
        - name: Set up Perl
          run: |
            echo "C:\strawberry\c\bin"  | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
            echo "C:\strawberry\perl\site\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
            echo "C:\strawberry\perl\bin"      | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        - name: Perl version
          run: |
            perl -V

        - name: Install cpanm and multiple modules
          run: |
              cpan -M http://www.cpan.org -T App::cpanminus ${{ vars.EXTRA_CPAN_MODULES }}
              cpanm --notest Devel::CheckLib JSON::MaybeXS Test2::V0 Test::Pod Test::Pod::Coverage Test::CPAN::Meta
      
        - name: Install build tools
          run: |
            choco install visualstudio2022buildtools -y
            Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
            scoop install cmake gcc
            choco install mingw
            
        - name: install vcpkg
          shell: powershell
          run: |
            git clone https://github.com/Microsoft/vcpkg.git
            cd vcpkg
            bootstrap-vcpkg.bat
            vcpkg integrate install
            vcpkg install jsonnet 
            ls
            ls  installed\x64-windows\include
            ls  installed\x64-windows\lib
            pwd
          
        - name: Build
          run: |
              ls
              perl Makefile.PL --jsonnet-prefix=vcpkg\installed\x64-windows 
              make CC=x86_64-w64-mingw32-clang
        - name: Run tests
          run: |
              make test

