name: windows

on:
  push:
  pull_request:

jobs:
    perl:
      environment: automated_testing
      runs-on: windows-2025
      strategy:
        matrix:
          perl: ['5.30', '5.32', '5.34','5.36', '5.38', '5.40', '5.42']

      steps:
        - run: git config --global core.autocrlf false
        - uses: actions/checkout@v4

        - name: git corrections
          run: |
            git config --global --add safe.directory "${{ github.workspace }}"  
        - name: Set up Perl
          run: |
            #choco uninstall strawberryperl
            #choco upgrade strawberryperl
            echo "C:\strawberry\c\bin"  | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
            echo "C:\strawberry\perl\site\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
            echo "C:\strawberry\perl\bin"      | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        - name: Perl version
          run: |
            perl -V

        - name: Install cpanm and multiple modules
          run: |
              cpan -M http://www.cpan.org -T App::cpanminus ${{ vars.EXTRA_CPAN_MODULES }}
              cpanm --notest Devel::CheckLib JSON::MaybeXS Test2::V0 Test::Pod Test::Pod::Coverage Test::CPAN::Meta
              
        - name: Install Scoop
          shell: powershell
          run: |
            Set-ExecutionPolicy RemoteSigned -Scope CurrentUser -Force
            irm get.scoop.sh | iex
            scoop bucket add main
            scoop bucket add extras
            scoop bucket add versions
            $scoopPath = "$env:USERPROFILE\scoop\shims"
        

            
            
        - name: Install Jsonnet via Chocolatey
          shell: powershell
          run: |
            choco install jsonnet -y 
        
        - name: Verify installation
          run: |
            jsonnet --version

        - name: Install dependencies
          run: |
            cpan -M https://www.cpan.org -T .
        - name: Build
          run: |
              perl Makefile.PL
              make
        - name: Run tests
          run: |
              make test

